h1 {
  color: hsl(0, 0%, 95%);
}

.description {
  background: linear-gradient(145deg, hsl(0, 0%, 94%), hsl(0, 0%, 100%));
  border-radius: 10px;
}


.cardChoice {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: hsl(0, 0%, 94%);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: grab;
  animation: move-right 3s infinite ease;
  border-radius: 10px;
  background: linear-gradient(145deg, hsl(176, 100%, 52%), hsl(176, 50%, 40%));
  box-shadow: 0 0 10px hsl(176deg 64.54% 35.69%), -9px 9px 16px #ffffff;
  border: 0;
  padding: 5px;
  transition: box-shadow 1s, transform 1s;
}

/* BEGIN */
/* specific css */

.cardChoiceSizeCarac {
  width: 225px;
  height: 330px;
}

.cardChoiceSize,
.cardChoiceSizeDice,
.cardChoiceSizeEvent,
.cardChoiceSizeContinu {
  width: 180px;
  height: 264px;
}

/*  */

.cardChoice.swiped {
  transform: translateX(50%);
}

.cardChoice-content {
  padding: 20px;
}

.card-dis-choice,
.card-ok-choice {
  position: absolute;
  top: 0;
  right: -100px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
}

.cardChoice.swiped .card-ok-choice {
  right: 0;
  background-color: hsl(120, 40%, 50%);
}

.cardChoice.swiped .card-ok-choice button,
.cardChoice.swiped .card-dis-choice button {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}

.cardChoice.swiped .card-dis-choice {
  left: 0;
  background-color: hsl(350, 40%, 50%);
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cardChoice.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn-choice-positions {
  top: 50%;
  z-index: 0;
}

.cards-positions {
  z-index: 1;
}

.cardChoice:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px hsl(176, 16%, 59%),
    -9px 10px 16px #ffffff;
}

.card,
.card-body,
.card-title {
  border: 0;
}

.mouse-move-right {
  width: 0px;
  height: 0px;
}

.cardChoice:hover .mouse-move-right {
  transform: translateX(50px);
  width: 30px;
  height: 30px;
  animation: mouse-move-right 3s infinite ease;
}

/* copy texte */
.copy-texte {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  transform: scale(1);
  transition: transform 1s;
}

.copy-texte:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.end-component {
  max-height: 60vh;
}

.tenvh {
  max-height: 10vh;
}

.dice-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: radial-gradient(circle at center,
      hsl(0, 0%, 6%) 0%,
      hsl(0, 0%, 6%) 65%,
      hsl(0, 0%, 20%) 80%,
      hsl(0, 0%, 94%) 100%);
  color: hsl(0, 0%, 94%);
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
  transform: translateY(-4px);
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

.rules-color {
  background: linear-gradient(145deg, hsla(336, 20%, 90%, 85%), hsla(30, 5%, 72%, 85%));
}

.btn-retry {
  background: linear-gradient(145deg, hsl(176, 100%, 52%), hsl(176, 50%, 40%));
  color: hsl(0, 0%, 6%);
  font-size: large;
  font-weight: bold;
  padding: 4px;
  margin-top: 5px;
  margin-right: 5px;
  transform: scale(1);
  transition: transform 1s;
}

.btn-retry:hover {
  transform: scale(1.1);
}



@keyframes move-right {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}

@keyframes mouse-move-right {
  0% {
    left: 50px;
  }

  50% {
    transform: translateX(150px);
  }

  100% {
    left: 50px;
  }
}

.mh-35 {
  max-height: 35vh;
}

.mh-25 {
  max-height: 25vh;
}

.min-w-1200 {
  min-width: 1200px;
}

.max-vw-90 {
  max-width: 95vw;
}

.p-5px {
  padding: 5px;
}

.del-ml-and-mr {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.charac-el {
  background-color: transparent;
}

.max-h-160 {
  max-height: 160px;
}

.h-65 {
  height: 65%;
}

.h-35 {
  height: 35%;
}


@media (width<=600px) {

  .cardChoiceSize,
  .cardChoiceSizeDice,
  .cardChoiceSizeEvent,
  .cardChoiceSizeContinu {
    width: 135px;
    height: 198px;
  }


}