h1 {
  color: blue;
}

.cardChoice {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: grab;
}

.cardChoice.swiped {
  transform: translateX(50%);
}

.cardChoice-content {
  padding: 20px;
}

.card-dis-choice,
.card-ok-choice {
  position: absolute;
  top: 0;
  right: -100px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
}

.cardChoice.swiped .card-ok-choice {
  right: 0;
  background-color: hsl(120, 40%, 50%);
}

.cardChoice.swiped .card-ok-choice button,
.cardChoice.swiped .card-dis-choice button {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}

.cardChoice.swiped .card-dis-choice {
  left: 0;
  background-color: hsl(350, 40%, 50%);
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cardChoice.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn-choice-positions {
  top: 50%;
  z-index: 0;
}

.cards-positions {
  z-index: 1;
}

.cardChoice {
  animation: move-right 3s infinite ease;
  border-radius: 10px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 21px 21px 30px #b3b3b3,
    -21px -21px 30px #ffffff;
  border: 0;
  padding: 5px;
}

.card,
.card-body,
.card-title {
  border: 0;
}

.mouse-move-right {
  width: 30px;
  height: 30px;
  animation: mouse-move-right 3s infinite ease;

}

@keyframes move-right {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}

@keyframes mouse-move-right {
  0% {
    left: 0;
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    left: 0;
  }
}