.main-content {
    height: 100vh;
}

.inside-content {
    height: 80vh;
}

.footer-content {
    height: 20vh;
    /* overflow-x: hidden; */
    /* width: 100%; */
}

.flex-shrink-0 {
    flex-shrink: 0;
    /* Empêche les éléments filles de se contracter */
}

.min-width-350px {
    min-width: 350px;
}


.test {
    /* background-color: hsl(160, 100%, 90%); */
    background:
        linear-gradient(to right,
            hsla(0, 0%, 0%, 0.95) 0%,
            hsla(0, 0%, 25%, 0.75) 40%,
            hsla(0, 0%, 50%, 0.5) 50%,
            hsla(0, 0%, 25%, 0.75) 60%,
            hsla(0, 0%, 0%, 0.95) 100%),
        url("./assets/background_horror.png") center/contain no-repeat,
        hsl(0, 0%, 10%);


}

.card-charac {
    width: 500px;
}