* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    height: 100vh;
}

.inside-content {
    height: 80vh;
}

.footer-content {
    height: 20vh;
    /* width: 100vw; */
    /* overflow-x: hidden; */
    /* width: 100%; */
}

.flex-shrink-0 {
    flex-shrink: 0;
    /* Empêche les éléments filles de se contracter */
}

.min-width-350px {
    min-width: 350px;
}

.house {
    /* background-color: hsl(160, 100%, 90%); */
    background:
        linear-gradient(to right,
            hsla(0, 0%, 0%, 0.95) 0%,
            hsla(0, 0%, 25%, 0.75) 40%,
            hsla(0, 0%, 50%, 0.5) 50%,
            hsla(0, 0%, 25%, 0.75) 60%,
            hsla(0, 0%, 0%, 0.95) 100%),
        hsl(0, 0%, 10%);


}

.tv {
    /* background-color: hsl(160, 100%, 90%); */
    background:
        linear-gradient(to right,
            hsla(0, 0%, 0%, 0.95) 0%,
            hsla(0, 0%, 25%, 0.75) 40%,
            hsla(0, 0%, 50%, 0.5) 50%,
            hsla(0, 0%, 25%, 0.75) 60%,
            hsla(0, 0%, 0%, 0.95) 100%),
        url("./assets/background_tv.png") center/contain no-repeat,
        hsl(0, 0%, 10%);


}

.car {
    /* background-color: hsl(160, 100%, 90%); */
    background:
        linear-gradient(to right,
            hsla(0, 0%, 0%, 0.95) 0%,
            hsla(0, 0%, 25%, 0.75) 40%,
            hsla(0, 0%, 50%, 0.5) 50%,
            hsla(0, 0%, 25%, 0.75) 60%,
            hsla(0, 0%, 0%, 0.95) 100%),
        url("./assets/background_horror.png") center/contain no-repeat,
        hsl(0, 0%, 10%);


}

.card-charac {
    width: 100%;
    max-width: 500px;
}

.width-400 {
    width: 400px !important;
}

.max-height-96 {
    max-height: 110px;
}

.padding-prompt {
    padding: 1rem;
}

.enter-end-component {
    max-height: 20vh;
}

@media (width<=600px) {
    .min-width-350px {
        min-width: 175px;
    }

    .padding-prompt {
        padding: 5px;
    }
}